.servicos{
  padding: 62px 0;
}

.servicos .emphasys{
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    line-height: 50px;
}

.servicos .video-title{
    font-weight: 500;
}

.servicos .row.cabecalho {
    display: block;
    text-align: center;
}

.servicos .row .content {
    margin-top: 30px;
}

.servicos .row a{
  color: #061868;
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.servicos .row a span{
  display: inline-block;
  border-bottom: 2px solid #061868;
}

.servicos .row a img{
  width: 48px;
  height: 48px;
}

.servicos .row.mvv{
  margin-top: 80px;
  column-gap: auto;
}

.servicos .row.mvv div{
  text-align: center;
}

.servicos .row.mvv div svg{
  width: 100px;
  height: 100px;
  fill: #061868;
}

.nossos-eventos{
  padding: 24px 0;
  background-color: #061868;
}

@media (min-width: 768px) {
  .servicos .row{
    display: flex;
    justify-content: space-between;
  }

  .servicos .row .rs{
    width: 40%;
  }

  .servicos .row .txt{
    width: 45%;
  }

  .servicos .row.mvv div{
    text-align: left;
    width: 30%;
  }
}
